# Rename this file to .env and fill in your values.
# Place it in the same folder as SOC_Report_Generator.exe.
# This file must NOT be committed to Git (see .gitignore).

DIFY_API_BASE_URL=https://ai-platform-uat.ey.net/v1
DIFY_API_KEY_MAIN=app-iozXvRpbAZnYUDEhj44myemZ
DIFY_API_KEY_SUB1=app-0HWZQyTT923SxktEZCuq3Qua
DIFY_API_KEY_SUB2=app-7bzaALJfrql1LdBGw8GEcNYa
